[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = 3rd course project
[access "refs/*"]
	owner = group user/Mikhail Semenov (mikkerlo)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Mikhail Semenov (mikkerlo)
	label-Verified = -1..+1 group user/Mikhail Semenov (mikkerlo)
	push = group user/Mikhail Semenov (mikkerlo)
	read = group user/Mikhail Semenov (mikkerlo)
	rebase = group user/Mikhail Semenov (mikkerlo)
	removeReviewer = group user/Mikhail Semenov (mikkerlo)
	submit = group user/Mikhail Semenov (mikkerlo)
[access "refs/heads/*"]
	create = group user/Mikhail Semenov (mikkerlo)
	push = +force group user/Mikhail Semenov (mikkerlo)
	pushMerge = group user/Mikhail Semenov (mikkerlo)
	read = group user/Mikhail Semenov (mikkerlo)
[access "refs/tags/*"]
	push = group user/Mikhail Semenov (mikkerlo)
	push = +force group user/Mikhail Semenov (mikkerlo)
[label "Verified"]
	defaultValue = 1

