[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = 3rd course project
[access "refs/*"]
	owner = group user/Mikhail Semenov (mikkerlo)
[access "refs/for/refs/*"]
	label-Verified = -1..+1 group hse
	push = group hse
	read = group hse
	rebase = group hse
	removeReviewer = group hse
	submit = group hse
[access "refs/heads/*"]
	create = group hse
	push = +force group hse
	pushMerge = group hse
	read = group hse
[access "refs/tags/*"]
	push = group hse
	push = +force group hse
[label "Verified"]
	defaultValue = 0
	function = MaxWithBlock

