[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = 3rd course project
[access "refs/*"]
	owner = group hse
	owner = group user/Mikhail Semenov (mikkerlo)
	label-Verified = -2..+2 group CI
[access "refs/for/refs/*"]
	label-Verified = -1..+1 group hse
	push = group hse
	read = group hse
	rebase = group hse
	removeReviewer = group hse
	submit = group hse
	label-Code-Review = -2..+2 group hse
	label-Verified = -2..+2 group CI
[access "refs/heads/*"]
	create = group hse
	push = +force group hse
	pushMerge = group hse
	read = group hse
[access "refs/tags/*"]
	push = group hse
	push = +force group hse
[label "Verified"]
	value = -1 Fails
	value = 0 No score
	value = +1 Verified
	copyAllScoresIfNoCodeChange = true
	defaultValue = 0
	function = MaxWithBlock

