{
  "swagger": "2.0",
  "info": {
    "description": "fuck",
    "version": "1.0.0",
    "title": "Swagger Petstore",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "apiteam@swagger.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "bestdomainever.com",
  "basePath": "/api",
  "tags": [
    {
      "name": "auth",
      "description": "about authentication"
    },
    {
      "name": "student",
      "description": "about students"
    },
    {
      "name": "group",
      "description": "about groups"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Logins user to the system\n",
        "parameters": [
          {
            "name": "email",
            "type": "string",
            "in": "body",
            "required": true,
            "description": "Email of user that logins to the system\n"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/components/schemas/LoginResponse"
            }
          }
        }
      }
    },
    "/student": {
      "get": {
        "tags": [
          "student"
        ],
        "summary": "Get students data",
        "description": "Returns `count` students from offset `offset`.\n",
        "operationId": "addPet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "offset",
            "type": "integer",
            "required": true,
            "in": "query",
            "description": "Offset to start with\n"
          },
          {
            "name": "count",
            "type": "integer",
            "minimum": 0,
            "maximum": 500,
            "required": true,
            "in": "query",
            "description": "Number of returned records\n"
          }
        ],
        "responses": {
          "200": {
            "description": "OK, return data",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Student"
              }
            }
          },
          "403": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/components/schemas/ServerErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "student"
        ],
        "summary": "Create user\n",
        "description": "Creates new user in system\n",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "description": "New student data. \n",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StudentPost"
            }
          }
        ]
      }
    },
    "/student/{id}": {
      "get": {
        "tags": [
          "student"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of student to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Student"
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Pet not found"
          }
        }
      },
      "patch": {
        "summary": "Update some info about student",
        "description": "Gets dictionary with student's description, then updates these fields in  database.\n",
        "tags": [
          "student"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of student to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "data",
            "in": "body",
            "description": "New data to store",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StudentPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          },
          "400": {
            "description": "id is invalid, i.e, is not number.\n",
            "schema": {
              "$ref": "#/components/schemas/ServerErrorResponse"
            }
          },
          "401": {
            "description": "query is no authorized, login first",
            "schema": {
              "$ref": "#/components/schemas/ServerErrorResponse"
            }
          },
          "404": {
            "description": "student with such id not found",
            "schema": {
              "$ref": "#/components/schemas/ServerErrorResponse"
            }
          },
          "422": {
            "description": "query body is invalid, i.e, wrong field names",
            "schema": {
              "$ref": "#/components/schemas/ServerErrorResponse"
            }
          }
        }
      }
    },
    "/student/{student_id}/deadlines": {
      "get": {
        "tags": [
          "student",
          "deadlines"
        ],
        "parameters": [
          {
            "name": "student_id",
            "in": "path",
            "description": "ID of student to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/HomeTask"
              }
            }
          }
        }
      }
    },
    "/student/{student_id}/groups": {
      "get": {
        "tags": [
          "student",
          "group"
        ],
        "parameters": [
          {
            "name": "student_id",
            "in": "path",
            "description": "ID of student to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Group"
              }
            }
          }
        }
      }
    },
    "/group": {
      "post": {
        "tags": [
          "group"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "description": "Data of group to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Group"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          },
          "401": {
            "description": "unauthorized"
          }
        }
      }
    },
    "/group/{group_id}": {
      "get": {
        "tags": [
          "group"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "Group id to get information\n",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/Group"
            }
          }
        }
      },
      "post": {
        "tags": [
          "group"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "Group id to get information\n",
            "required": true
          },
          {
            "name": "group_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Group"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    }
  },
  "definitions": {
    "Student": {
      "allOf": [
        {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "format": "uint64"
            }
          }
        },
        {
          "$ref": "#/components/schemas/StudentBase"
        }
      ]
    },
    "Group": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "uint64"
        },
        "full_name": {
          "type": "string"
        },
        "short_name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "is_hidden": {
          "type": "boolean"
        }
      }
    },
    "File": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "uint64"
        },
        "url": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "Material": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "uint64"
        },
        "group_id": {
          "type": "integer",
          "format": "uint64"
        },
        "created_at": {
          "$ref": "#/components/schemas/DateTime"
        },
        "header": {
          "type": "string"
        },
        "content": {
          "type": "string"
        }
      }
    },
    "HomeTask": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "uint64"
        },
        "group_id": {
          "type": "integer",
          "format": "uint64"
        },
        "created_at": {
          "$ref": "#/components/schemas/DateTime"
        },
        "header": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "valid_until": {
          "$ref": "#/components/schemas/DateTime"
        }
      }
    },
    "Notify": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "uint64"
        },
        "group_id": {
          "type": "integer",
          "format": "uint64"
        },
        "created_at": {
          "$ref": "#/components/schemas/DateTime"
        },
        "header": {
          "type": "string"
        },
        "content": {
          "type": "string"
        }
      }
    },
    "StudentJar": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "uint64"
        },
        "name": {
          "type": "string"
        },
        "students": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Student"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LoginResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": null
          },
          "valid_until": {
            "type": "integer",
            "format": "uint64"
          }
        }
      },
      "Email": {
        "type": "string",
        "format": "email"
      },
      "DateTime": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "StudentPost": {
        "$ref": "#/components/schemas/StudentBase"
      },
      "ServerErrorResponse": {
        "type": "object",
        "properties": {
          "error_code": {
            "type": "integer",
            "example": 400
          },
          "error_subcode": {
            "type": "integer"
          },
          "error_description": {
            "type": "object",
            "properties": {
              "ru": {
                "type": "string"
              },
              "en": {
                "type": "string"
              }
            }
          }
        }
      },
      "Name": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "example": "Иван"
          },
          "last_name": {
            "type": "string",
            "example": "Иванов"
          },
          "patronymic_name": {
            "type": "string",
            "example": "Иванович"
          }
        }
      },
      "StudentBase": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/Name"
          },
          "birth_date": {
            "type": "integer",
            "format": "timestamp",
            "example": 905256000
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "john_smith@example.com"
          },
          "telegram_account": {
            "type": "string",
            "format": "telegram",
            "example": "@example"
          }
        }
      },
      "ApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}