{
  "swagger": "2.0",
  "info": {
    "description": "fuck the cs hse",
    "version": "1.0.0",
    "title": "AMI"
  },
  "host": "bestdomainever.com",
  "basePath": "/api",
  "tags": [
    {
      "name": "auth",
      "description": "about authentication"
    },
    {
      "name": "student",
      "description": "about students"
    },
    {
      "name": "group",
      "description": "about groups"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/student": {
      "get": {
        "tags": [
          "student"
        ],
        "summary": "Get students data",
        "description": "Returns `count` students from offset `offset`.\n",
        "operationId": "addPet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "offset",
            "type": "integer",
            "required": true,
            "in": "query",
            "description": "Offset to start with\n"
          },
          {
            "name": "count",
            "type": "integer",
            "minimum": 0,
            "maximum": 500,
            "required": true,
            "in": "query",
            "description": "Number of returned records\n"
          }
        ],
        "responses": {
          "200": {
            "description": "OK, return data",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Student"
              }
            }
          },
          "403": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/components/schemas/ServerErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "student"
        ],
        "summary": "Create user\n",
        "description": "Creates new user in system\n",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "description": "New student data. \n",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StudentPost"
            }
          }
        ]
      }
    },
    "/student/{id}": {
      "get": {
        "tags": [
          "student"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of student to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Student"
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Student not found"
          }
        }
      },
      "patch": {
        "summary": "Update some info about student",
        "description": "Gets dictionary with student's description, then updates these fields in  database.\n",
        "tags": [
          "student"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of student to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "data",
            "in": "body",
            "description": "New data to store",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StudentPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          },
          "400": {
            "description": "id is invalid, i.e, is not number.\n",
            "schema": {
              "$ref": "#/components/schemas/ServerErrorResponse"
            }
          },
          "401": {
            "description": "query is no authorized, login first",
            "schema": {
              "$ref": "#/components/schemas/ServerErrorResponse"
            }
          },
          "404": {
            "description": "student with such id not found",
            "schema": {
              "$ref": "#/components/schemas/ServerErrorResponse"
            }
          },
          "422": {
            "description": "query body is invalid, i.e, wrong field names",
            "schema": {
              "$ref": "#/components/schemas/ServerErrorResponse"
            }
          }
        }
      }
    },
    "/student/{student_id}/deadlines": {
      "get": {
        "tags": [
          "student",
          "deadlines"
        ],
        "parameters": [
          {
            "name": "student_id",
            "in": "path",
            "description": "ID of student to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Deadline"
              }
            }
          }
        }
      }
    },
    "/student/{student_id}/groups": {
      "get": {
        "tags": [
          "student",
          "group"
        ],
        "parameters": [
          {
            "name": "student_id",
            "in": "path",
            "description": "ID of student to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Group"
              }
            }
          }
        }
      }
    },
    "/groups": {
      "get": {
        "tags": [
          "groups"
        ],
        "responses": {
          "200": {
            "description": "Returns list of all available groups. In MVP does not support\npagination, it returns all groups in once.\n",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Group"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "groups"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "data",
            "schema": {
              "$ref": "#/definitions/GroupBase"
            },
            "description": "Data of new group to store,m\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Group successfully created",
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        }
      }
    },
    "/groups/{group_id}": {
      "get": {
        "tags": [
          "groups"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "group_id",
            "description": "Id of a group to retrieve information about\n",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns information about group with id `group_id`.\n",
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "groups"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "group_id",
            "description": "Id of a group to retrieve information about\n",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "data",
            "schema": {
              "$ref": "#/definitions/Group"
            },
            "description": "JSON with new data to store in system.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Group is successfully updated\n"
          }
        }
      }
    },
    "/groups/{group_id}/students": {
      "get": {
        "tags": [
          "groups",
          "students"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "group_id",
            "description": "Id of a group to retrieve information about\n",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of students that are attended to given group\n",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Student"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/deadlines": {
      "get": {
        "tags": [
          "deadlines"
        ],
        "responses": {
          "200": {
            "description": "Returns list of all available deadlines. In MVP does not support\npagination, it returns all deadlines in once.\n",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Deadline"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "deadlines"
        ],
        "summary": "Create new deadline",
        "description": "Create new deadline",
        "parameters": [
          {
            "in": "body",
            "name": "data",
            "schema": {
              "$ref": "#/definitions/DeadlineBase"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/deadlines/{deadline_id}": {
      "get": {
        "tags": [
          "deadlines"
        ],
        "parameters": [
          {
            "name": "deadline_id",
            "in": "path",
            "description": "ID of deadline to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns deadline with that id",
            "schema": {
              "$ref": "#/definitions/Deadline"
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "deadlines"
        ],
        "summary": "Update deadline",
        "description": "Updates deadline",
        "parameters": [
          {
            "name": "deadline_id",
            "in": "path",
            "description": "ID of deadline to update",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "data",
            "in": "body",
            "description": "Data of deadline to be stored",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Deadline"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "definitions": {
    "Student": {
      "allOf": [
        {
          "$ref": "#/components/schemas/Id"
        },
        {
          "$ref": "#/components/schemas/StudentBase"
        }
      ]
    },
    "GroupBase": {
      "type": "object",
      "properties": {
        "full_name": {
          "type": "string"
        },
        "short_name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "is_hidden": {
          "type": "boolean"
        }
      }
    },
    "Group": {
      "type": "object",
      "allOf": [
        {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "format": "uint64"
            }
          }
        },
        {
          "$ref": "#/definitions/GroupBase"
        }
      ]
    },
    "File": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "uint64"
        },
        "url": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "Material": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "uint64"
        },
        "group_id": {
          "type": "integer",
          "format": "uint64"
        },
        "created_at": {
          "$ref": "#/components/schemas/DateTime"
        },
        "header": {
          "type": "string"
        },
        "content": {
          "type": "string"
        }
      }
    },
    "DeadlineBase": {
      "type": "object",
      "properties": {
        "group_id": {
          "type": "integer",
          "format": "uint64"
        },
        "created_at": {
          "$ref": "#/components/schemas/DateTime"
        },
        "header": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "valid_until": {
          "$ref": "#/components/schemas/DateTime"
        }
      }
    },
    "Deadline": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/components/schemas/Id"
        },
        {
          "$ref": "#/definitions/DeadlineBase"
        }
      ]
    },
    "Notify": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "uint64"
        },
        "group_id": {
          "type": "integer",
          "format": "uint64"
        },
        "created_at": {
          "$ref": "#/components/schemas/DateTime"
        },
        "header": {
          "type": "string"
        },
        "content": {
          "type": "string"
        }
      }
    },
    "StudentJar": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "uint64"
        },
        "name": {
          "type": "string"
        },
        "students": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Student"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "NotFound": {
        "description": "The specified resource was not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "The specified URL is illegal. Check data types",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Id": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "uint64"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": null
          },
          "valid_until": {
            "type": "integer",
            "format": "uint64"
          }
        }
      },
      "Email": {
        "type": "string",
        "format": "email"
      },
      "DateTime": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "StudentPost": {
        "$ref": "#/components/schemas/StudentBase"
      },
      "ServerErrorResponse": {
        "type": "object",
        "properties": {
          "error_code": {
            "type": "integer",
            "example": 400
          },
          "error_subcode": {
            "type": "integer"
          },
          "error_description": {
            "type": "object",
            "properties": {
              "ru": {
                "type": "string"
              },
              "en": {
                "type": "string"
              }
            }
          }
        }
      },
      "Name": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "example": "Иван"
          },
          "last_name": {
            "type": "string",
            "example": "Иванов"
          },
          "patronymic_name": {
            "type": "string",
            "example": "Иванович"
          }
        }
      },
      "StudentBase": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/Name"
          },
          "birth_date": {
            "type": "integer",
            "format": "timestamp",
            "example": 905256000
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "john_smith@example.com"
          },
          "telegram_account": {
            "type": "string",
            "format": "telegram",
            "example": "@example"
          }
        }
      },
      "ApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}